{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
    {% if alarming_buses %}
        <h2>{{ alarming_buses|length }} number of alerts</h2>
        {% for bus in alarming_buses %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <font style="font-weight: bold;">{{ bus.vehicle_id }} | 
                        <font style="color:red">WARNING</font>
                        </h3>
                    </font>
                    <small>
                        <a href="/plot_forecast/?veh_id={{ bus.vehicle_id }}&param={{ bus.parameter }}">
                            [VIEW FORECAST]
                        </a>
                    </small>
                    
                </div>
                <div class="card-body">
                    <p>ALARM: {{ bus.parameter }} value of {{ bus.value }} exceeds threshold of {{ bus.threshold }}.</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Alarming Buses!</p>
    {% endif %}
{% endblock %}
